/* Mise en page du conteneur du slider */
#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0 10px;

}

/* Mise en page du slider */
#slider {
  display: flex;
  justify-content: center;
  min-width: 320px;
  width: 70%;
  border: 1px solid grey;
  background-color: rgb(240,240,240);
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
}

/* Mise en page du contenu du slider */
.slide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

/* Mise en page du conteneur d'image */
.image-slider {
  width: 900px;
  height: 550px;
  margin: 5px;
}

/* Mise en page de l'image */
.image-slider img {
  width: 100%;
  height: 100%;
}

/* Mise en page du conteneur de texte */
.text-slider {
  padding: 10px;
  margin: 5px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Mise en page du titre du texte */
.text-slider h3 {
  color: white;
  border-radius: 5px;
  background-color: red;
  padding: 5px;
}

/* Mise en page des boutons du slider */
.bouton-slider {
  position: relative;
  /*top: 325px;*/
  color: grey;
  font-size: 1.8em;
}

/* Changement de couleur des boutons au survol */
.bouton-slider :hover {
  color: red;
}

/* Position bouton gauche */
#left {
  right: 38%;
  bottom: 160px;
}

/* Position bouton droit */
#right {
  left: 38%;
  bottom: 200px;
}


  .button{
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

  .prevBtn,
  .pauseBtn,
  .playBtn,
  .nextBtn{
    cursor: pointer;
    z-index: 100;
    display: inline-block;
    width: 75px;
    height: 75px;
  }

  .button a:hover{
    transform: scale(1.1);
  }

  .prevBtn{
    background: url(locabike/img/prev.png);
  }

  .pauseBtn{
    background: url(locabike/img/pause.png);
  }

  .playBtn{
    background: url(locabike/img/play.png);
  }

  .nextBtn{
    background: url(locabike/img/next.png);
  }